<div class="projects-2">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h6 class="text-muted">Our work</h6>
                <h2 class="title">Some of Our Awesome Products - 2</h2>
                <h5 class="description">This is the paragraph where you can write more details about your projects. Keep you user engaged by providing meaningful information.</h5>
                <div class="section-space"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-plain">
                    <a href="http://www.creative-tim.com/product/now-ui-kit" target="_blank">
                        <div class="card-image">
                            <img class="img-raised rounded" src="http://s3.amazonaws.com/creativetim_bucket/products/38/original/opt_mk_thumbnail.jpg?1458052306" />
                        </div>
                    </a>
                    <div class="card-body">
                        <a href="http://www.creative-tim.com/product/now-ui-kit" target="_blank">
                            <h4 class="card-title">Now UI Kit Free</h4>
                        </a>
                        <h6 class="category text-primary">Free UI Kit</h6>
                        <p class="card-description">
                            Now UI Kit is a Free Bootstrap UI Kit with a fresh, new design inspired by Google's material design. It's a great pleasure to introduce to you the material concepts in an easy to use and beautiful set of components.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-plain">
                    <a href="http://www.creative-tim.com/product/light-bootstrap-dashboard-pro" target="_blank">
                        <div class="card-image">
                            <img class="img-raised rounded" src="http://s3.amazonaws.com/creativetim_bucket/products/34/original/opt_lbd_pro_thumbnail.jpg?1449352503" />
                        </div>
                    </a>
                    <div class="card-body">
                        <a href="http://www.creative-tim.com/product/light-bootstrap-dashboard-pro" target="_blank">
                            <h4 class="card-title">Light Bootstrap Dashboard</h4>
                        </a>
                        <h6 class="category text-primary">Premium Template</h6>
                        <p class="card-description">
                            Light Bootstrap Dashboard PRO is a Bootstrap Admin Theme designed to look simple and beautiful. Forget about boring dashboards and grab yourself a copy to kickstart new project!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-plain">
                    <a href="http://www.creative-tim.com/product/get-shit-done-pro" target="_blank">
                        <div class="card-image">
                            <img class="img-raised rounded" src="http://s3.amazonaws.com/creativetim_bucket/products/26/original/opt_gsdk_new_thumbnail.jpg" />
                        </div>
                    </a>
                    <div class="card-body">
                        <a href="http://www.creative-tim.com/product/get-shit-done-pro" target="_blank">
                            <h4 class="card-title">Get Shit Done Kit PRO</h4>
                        </a>
                        <h6 class="category text-primary">Premium UI Kit</h6>
                        <p class="card-description">
                            Get Shit Done Kit Pro it's a Bootstrap Kit that comes with a huge number of customisable components. They are pixel perfect, light and easy to use and combine with other elements.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
