<div class="team-3 section-image" style="background-image: url('assets/img/bg21.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title">The Executive Team 3</h2>
                <h4 class="description">This is the paragraph where you can write more details about your team. Keep you user engaged by providing meaningful information.</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-7 ml-auto mr-auto">
                <div class="card card-profile">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="card-image">
                                <a href="#pablo">
                                    <img class="img" src="assets/img/olivia.jpg" />
                                </a>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <h3 class="card-title">Ariana Hazel</h3>
                                <h6 class="category text-primary"> Fashion Designer</h6>
                                <p class="card-description">
                                    Happiness resides not in possessions, and not in gold, happiness dwells in the soul...
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-7 ml-auto mr-auto">
                <div class="card card-profile">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="card-image">
                                <a href="#pablo">
                                    <img class="img" src="assets/img/james.jpg" />
                                </a>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <h3 class="card-title">Ryan Samuel</h3>
                                <h6 class="category text-primary">Financial Examiner</h6>
                                <p class="card-description">
                                    Today you are you! That is truer than true! There is no one alive who is you-er than you!..
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-7 ml-auto mr-auto">
                <div class="card card-profile">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="card-image">
                                <a href="#pablo">
                                    <img class="img" src="assets/img/michael.jpg" />
                                </a>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <h3 class="card-title">Joshua Jackson</h3>
                                <h6 class="category text-primary">Landscape Architect</h6>
                                <p class="card-description">
                                    Success is not final, failure is not fatal: it is the courage to continue that counts...
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-7 ml-auto mr-auto">
                <div class="card card-profile">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="card-image">
                                <a href="#pablo">
                                    <img class="img" src="assets/img/emily.jpg" />
                                </a>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <h3 class="card-title">Nora Hazel</h3>
                                <h6 class="category text-primary">Legal Secretary</h6>
                                <p class="card-description">
                                    Do not dwell in the past, do not dream of the future, concentrate the mind...
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
