<div class="testimonials-2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="carouselExampleIndicators2" class="carousel slide">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators2" data-slide-to="1"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active justify-content-center">
                            <div class="card card-testimonial card-plain">
                                <div class="card-avatar">
                                    <a href="#pablo">
                                        <img class="img img-raised rounded" src="assets/img/james.jpg" />
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-description">"Take up one idea. Make that one idea your life - think of it, dream of it, live on that idea. Let the brain, muscles, nerves, every part of your body, be full of that idea, and just leave every other idea alone. This is the way to success. A single rose can be my garden... a single friend, my world."
                                    </h5>
                                    <h3 class="card-title">Isaac Hunter</h3>
                                    <div class="card-footer">
                                        <h6 class="category text-primary">Human Resource Director</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item justify-content-center">
                            <div class="card card-testimonial card-plain">
                                <div class="card-avatar">
                                    <a href="#pablo">
                                        <img class="img img-raised rounded" src="assets/img/olivia.jpg" />
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-description">"When we are no longer able to change a situation - we are challenged to change ourselves. Spread love everywhere you go. Let no one ever come to you without leaving happier. Problems are not stop signs, they are guidelines."
                                    </h5>
                                    <h3 class="card-title">Alexa Hailey</h3>
                                    <div class="card-footer">
                                        <h6 class="category text-primary">Human Resource Director</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                        <i class="now-ui-icons arrows-1_minimal-left"></i>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-slide="next">
                        <i class="now-ui-icons arrows-1_minimal-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
